<form action="{{ path('admin.categories.delete', {id: author.id}) }}" method="post"
      onsubmit="return confirm('Ête-vous sur de vouloir supprimer cette categorie ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button type="submit" class="btn btn-danger text-light">Supprimer</button>
</form>