{% extends 'base.html.twig' %}

{% block title %}Admin des auteurs | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Administration des auteurs</h1>
        <a href="{{ path('admin.authors.create') }}" class="btn btn-primary">Ajouter un auteur</a>
        <div class="row gy-4 mt-4">
            {% for author in authors %}
                <div class="col-md-4">
                    <div class="card">
                        {{ author.fullName }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
