{% extends 'base.html.twig' %}

{% block title %}Liste des derniers Livres | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Liste des derniers Livres</h1>
        <div class="blog-card-list mt-4">
            {% for book in books %}
                {% include 'Components/_card.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
